
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">SERVICES</h1>
          <p class="lead text-muted">
          Delhivery’s aim is to build the operating system for commerce in India. We provide parcel transportation, warehousing, freight, reverse logistics, cross-border and technology services to over 17000 customers, including large & small e-commerce participants, SMEs, and other leading enterprises & brands. Our supply chain platform and logistics operations bring flexibility, breadth, efficiency and innovation to our customers’ supply chain and logistics Our operations, infrastructure and technology enable our customers to transact with us and our partners at low costs.
          </p>
            <a href="/orders" class="btn btn-primary">Send Parcel</a>
            <a href="/tracks" class="btn btn-secondary">Track</a>
          </p>
        </div>
      </section>