<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      your track id is: <%= @order[:order_track_id] %>.<br>
    </p>
  </body>
</html>